doctype html(lang='en')

html
  head
    title 531
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name="theme-color", content="#000000")
    style
      include /public/css/style.css
  body
    block content
      header
        h1 
          a(href='/') 5-3-1
      form(method='GET' action='/workout')
        input(type='text', placeholder='single rep max' name='max')

      p
        a(href='https://www.t-nation.com/workouts/531-how-to-build-pure-strength') t-nation.com article

      p
        table
          tr
            td
            td 
              b Week 1
            td 
              b Week 2
            td 
              b Week 3
            td 
              b Week 4
          tr
            td 
              b Set 1
            td 65% x 5
            td 70% x 3
            td 75% x 5
            td 40% x 5
          tr
            td 
              b Set 2
            td 75% x 5
            td 80% x 3
            td 85% x 3
            td 50% x 5
          tr
            td 
              b Set 3
            td 85% x 5+
            td 90% x 3+
            td 95% x 1+
            td 60% x 5