doctype html(lang='en')

html
  head
    title 531
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name="theme-color", content="#000000")
    style
      include /public/css/style.css
  body
    block content
      header
        h1 
          a(href='/') 5-3-1
