ul
  each menu in output.nav
    if menu.active
      li#active
        a(href='/workout/' + menu.number + '/' + output.query)= menu.number
    else
      li
        a(href='/workout/' + menu.number + '/' + output.query)= menu.number

p
  table
    tr
      td 
        b #
      td
        b Set
    each set in output.workout
      tr
        td
          b= set.set
        td= set.weight
