html, body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
}

h1 {
  padding-left: 3%;
}

p {
  padding-left: 3%;
  clear: both;
}

input[type=text] {
  width: 60%;
  margin: 0 2.5%;
  padding: 2%;
  border: 1px solid #666666;
  float: left;
}

input[type=checkbox] {
  float: left;
}